* {
    font-family: 'Secular One', sans-serif;
    direction: rtl;
    
}
body {
    background-color: rgb(53, 171, 88);
    margin: 0px;
}


/* ########### Nav bar  ############### */

header {
    display: block;
    flex-flow:row-reverse wrap;
    width: 100%;
    background-color:rgb(225, 255, 177);
    margin: 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
}

nav{
    display: block;
    flex-flow:row wrap; 
    margin-left: 250px;
    margin-right: 0px;
    width: 100%;
    margin: 0;
}

nav ul{
    overflow: hidden;
    margin: auto;
    padding: auto;
    background-color:rgb(225, 255, 177);
    position: relative;
    margin-block-start: auto;
    margin-block-end: auto;
    padding-inline-start: 0px;
    margin-inline: auto;  
    display: flex;
    flex-flow: row-reverse wrap; 
    justify-content: right;
    margin-right: 20px;
}

header img {
    opacity: 0.8;
    border-right: rgb(123, 245, 123);
    top: 50%;
    padding-left: 10px;
    padding-top: 7px;
    margin-left: 40px;
}

ul.topnav-left li{
    list-style: none;
    float: left;  
}

ul.topnav-left li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 18px 8px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

ul.topnav-left li a:hover {
    font-style: oblique;
}

ul.topnav-left li.dropdownIcon{
    display:none;
}


h1 {
    color: rgb(251, 251, 243);
    text-align: center;
    letter-spacing: 5px;
    font-size: 40px;
    margin-bottom: 0;
}

p {
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 0;
}

/* ############## section style ############# */
main {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

main img {
    height: 400px;
    width:  550px;
}
section {
    display: flex;
    margin: auto;
    float: both;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.sites {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(225, 255, 177);
    margin: 5px;
    padding: 10px 10px;
    justify-content: center;
    border-radius: 10px;
    width: 17em;
    height: 20em;

}

h2 {
    font-size: 2em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
a:hover {
    font-weight: bolder ;
}
.btn-yellow {
    background-color: #FFF4A3;
    border: black 1px solid;
    color: black;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 250px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}

.btn-black {
    background-color: #282A35!important;
    color: whitesmoke!important;
}

.btn-pink{
  background-color:   #FFC0C7!important ;
  color: black!important;
}

.btn-white{
    background-color:   grey!important ;
    color: white!important;
    }

.sites img {
    width: 60px;
    height:50px;
    margin: 20px 5px;
}

footer {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    background-color: rgb(225, 255, 177);
}
footer img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin: 10px;
}

h3 {
    padding-top: 15px;
}



/* #################  Mobile Styles #################### */

/* ##  NAV BAR Mobile Styles ## */
@media screen and (max-width: 1010px) {

    ul.topnav-left li:not(:nth-child(1)) {
        display: none;
    }

    ul.topnav-left li img{
        display: block;
        text-align: left; 
        margin-left: 0px;
        width: 287.3px;
        height: 74.36px;
    }

    ul.topnav-left li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav-left li.dropdownIcon a{
        font-size: 45px;
        margin-right: 0.5em;
    }


    ul.topnav-left.responsive li.dropdownIcon{
        position: absolute;
        top:0;
        right: 0;
    }

    ul.topnav-left.responsive li.dropdownIcon a{
        position: absolute;
        top:0;
        right: 0;
        font-size: 36px;
    }

    ul.topnav-left.responsive{
        position: relative;
        transition: 0.5s;
    }

    ul.topnav-left.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav-left.responsive li img{
        display: block;
        text-align: left; 
        margin-left: 0px;
    }

    ul.topnav-left.responsive li a {
        display: block;
        text-align: right;
        padding: 4px;
        font-size: 21px;
    }

   section {
        flex: 100%;
   }
    
   .sites {
       align-self: center;
       width: 55em; 
   }

   .circleText{
    margin-right: 2em;
    font-size: 25px;
   }

   .bg-img{
        display: inline;
   }

   .bg-img img {
       width: 350px;
       height: 250px;
       margin-left: 2em;
       margin-top: 4em;
   }
    
}
