/* 
#000000
#150050
#3F0071
#610094
*/
* {
    
}

body {
    background-color:#150050

    ;
}

h1 {
    color:#c583e9;
    font-family: 'New Tegomin', serif;
}

h2, p, a {
    font-family: 'Assistant', sans-serif;
}